[mysqld]
skip-character-set-client-handshake
collation-server = utf8mb4_general_ci
init-connect = SET NAMES utf8mb4
innodb_file_per_table = 1
innodb_default_row_format = DYNAMIC

[mysql]
default-character-set=utf8mb4
